$black: hsla(0, 0%, 0%, 1);
$white: hsla(0, 0%, 100%, 1);
$grey: 	hsl(0, 0%, 50%, 1);

// #656565
$dove-gray: hsla(0, 0%, 40%, 1);
// #9B9B9B
$dusty-gray: hsla(0, 0%, 61%, 1);
// #1D1D1D
$cod-gray: hsla(0, 0%, 11%, 1);
// #B4B4B4
$nobel: hsla(0, 0%, 70%, 1);